<!-- Show Less/More button component -->
<div *ngIf="tasks.length">
  <app-show-less-more
    [showAll]="showAll"
    (click)="toggleShowAll()"
  ></app-show-less-more>
</div>

<app-popup [popupID]="popupID">
  <button class="text-rose-700">Confirm</button>
</app-popup>

@for (
  task of tasks.slice(
    showAll ? 0 : randomDisplay,
    showAll ? tasks.length : randomDisplay + 1
  );
  track task.id
) {
  <div
    id="{{ task.id }}"
    class="border rounded-md my-6 py-2 px-4 flex items-center justify-between relative group"
    [ngClass]="{
      'border-green-700': task.done,
      'animate-pulse-once': !showAll,
    }"
  >
    <span
      class="text-rose-500 absolute -top-6 left-0"
      *ngIf="task.id === editAt"
    >
      Press enter to submit</span
    >
    <div class="flex-1">
      <input
        class="text-2xl text-center outline-none bg-transparent w-full"
        #taskHolder
        (keydown)="enterPress($event, task)"
        [readOnly]="true"
        value="{{ task.title }}"
        [maxLength]="50"
      />
    </div>
    <div
      class="items-center flex gap-x-2 opacity-0 group-hover:opacity-100 group-hover:transition-all group-hover:duration-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
        class="w-7 fill-green-800 cursor-pointer"
        (click)="editDone(task)"
      >
        <path
          d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
        />
      </svg>
      <svg
        (click)="editTitle(task, taskHolder)"
        class="w-7 fill-white cursor-pointer"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"
        />
      </svg>

      <svg
        class="w-7 fill-rose-700 cursor-pointer"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
        (click)="deleteTask(task)"
      >
        <path
          d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"
        />
      </svg>
    </div>
  </div>
}
