<div class="bg-[#191919] text-white rounded-lg p-2">
  <div class="flex items-center justify-between">
    <h2 class="text-lg font-bold mb-4">{{ calendarHead }}</h2>
    <div class="flex items-center gap-x-4">
      <svg
        (click)="toPrevMonth()"
        class="w-4 fill-white cursor-pointer"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 320 512"
      >
        <path
          d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"
        />
      </svg>
      <svg
        (click)="toNextMonth()"
        class="w-4 fill-white cursor-pointer"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 320 512"
      >
        <path
          d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
        />
      </svg>
    </div>
  </div>

  <div class="flex items-center justify-between border-b pb-2">
    <span class="week-days">Sun</span>
    <span class="week-days">Mon</span>
    <span class="week-days">Tue</span>
    <span class="week-days">Wed</span>
    <span class="week-days">Thu</span>
    <span class="week-days">Fri</span>
    <span class="week-days">Sat</span>
  </div>

  <!-- Days of the month -->
  <div class="flex flex-wrap">
    <div
      *ngFor="let day of prevMonthDays; trackBy: trackByDay"
      class="w-[calc(100%/7)] flex justify-center items-center p-2"
    >
      <button
        [ngClass]="{
          'bg-red-600/30 text-white': markAsEndDate(day, {
            prev: true,
            next: false,
          }),
        }"
        (click)="emitValue($event, 0)"
        class="rounded-full w-full py-2 text-center cursor-pointer"
      >
        {{ day }}
      </button>
    </div>
    <div
      *ngFor="let day of currMonthDays; let i = index; trackBy: trackByDay"
      class="w-[calc(100%/7)] flex justify-center items-center p-2"
    >
      <button
        class="rounded-full w-full py-2 text-center cursor-pointer"
        [ngClass]="{
          'bg-white text-black': isToday(day),
          'bg-red-600 text-white': !isToday(day) && markAsEndDate(day),
          'bg-[#2d2d2e] text-white': !isToday(day) && !markAsEndDate(day),
        }"
        (click)="emitValue($event, 1)"
      >
        {{ day }}
      </button>
    </div>

    <div
      *ngFor="let day of nextMonthDays; trackBy: trackByDay"
      class="w-[calc(100%/7)] flex justify-center items-center p-2"
    >
      <button
        [ngClass]="{
          'bg-red-600/30 text-white': markAsEndDate(day, {
            prev: false,
            next: true,
          }),
        }"
        class="rounded-full w-full py-2 text-center cursor-pointer"
        (click)="emitValue($event, 2)"
      >
        {{ day }}
      </button>
    </div>
  </div>
</div>
